.characterviewer .content {
  margin-bottom: 0;
}
.characterviewer .nav-tabs {
  padding-top: 2px;
  min-width: 351px;
  margin-bottom: 0;
}
.characterviewer .nav-tabs.nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
  margin-bottom: 0px;
}
.characterviewer .nav-tabs > li:nth-child(2) {
  order: -1;
}
.characterviewer .nav-tabs > li:nth-child(4) > a:nth-child(1) {
  opacity: 0.3;
}
.characterviewer .nav-tabs > li:nth-child(4) > a:nth-child(1):hover, .characterviewer .nav-tabs > li:nth-child(4) > a:nth-child(1):focus {
  opacity: 1;
}

.ui-dialog .largedialog {
  padding: 0px 5px;
}
.ui-dialog .charsheet {
  padding: 0;
}

div#tab-content.tab-content .attributesabilities {
  min-width: 525px;
}
div#tab-content.tab-content .attributesabilities .largedialog textarea {
  border: 2px solid grey;
  background: #ececec;
}

.charsheet .sheet-base {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: solid black 1px;
}
.charsheet .sheet-buttonbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5px 0 0 0;
  background: #cdc6b1;
  border: solid 1px black;
}
.charsheet .sheet-navbuttons {
  display: flex;
  text-align: left;
  flex-wrap: nowrap;
  flex: 1 0 75%;
}
.charsheet .sheet-line-divider {
  flex: 0 1 10%;
  align-items: center;
}
.charsheet .sheet-docbuttons {
  text-align: right;
  flex: 1 0 15%;
}
.charsheet .sheet-character,
.charsheet .sheet-social,
.charsheet .sheet-skill,
.charsheet .sheet-combat,
.charsheet .sheet-equipment,
.charsheet .sheet-spells,
.charsheet .sheet-psionics,
.charsheet .sheet-healer,
.charsheet .sheet-wards,
.charsheet .sheet-circles,
.charsheet .sheet-structures,
.charsheet .sheet-journal,
.charsheet .sheet-config,
.charsheet .sheet-release {
  display: none;
}
.charsheet .sheet-tabstoggle[value=character] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value=social] ~ div.sheet-social,
.charsheet .sheet-tabstoggle[value=skill] ~ div.sheet-skill,
.charsheet .sheet-tabstoggle[value=equipment] ~ div.sheet-equipment,
.charsheet .sheet-tabstoggle[value=combat] ~ div.sheet-combat,
.charsheet .sheet-tabstoggle[value=spells] ~ div.sheet-spells,
.charsheet .sheet-tabstoggle[value=psionics] ~ div.sheet-psionics,
.charsheet .sheet-tabstoggle[value=healer] ~ div.sheet-healer,
.charsheet .sheet-tabstoggle[value=wards] ~ div.sheet-wards,
.charsheet .sheet-tabstoggle[value=circles] ~ div.sheet-circles,
.charsheet .sheet-tabstoggle[value=structures] ~ div.sheet-structures,
.charsheet .sheet-tabstoggle[value=journal] ~ div.sheet-journal,
.charsheet .sheet-tabstoggle[value=configuration] ~ div.sheet-config,
.charsheet .sheet-tabstoggle[value=release] ~ div.sheet-release {
  display: block;
}
.charsheet input[value="1"].sheet-showspells ~ .sheet-confspells,
.charsheet input[value="1"].sheet-showpsionics ~ .sheet-confpsionics,
.charsheet input[value="1"].sheet-showhealer ~ .sheet-confhealer,
.charsheet input[value="1"].sheet-showwards ~ .sheet-confwards,
.charsheet input[value="1"].sheet-showcircles ~ .sheet-confcircles,
.charsheet input[value="1"].sheet-showstructures ~ .sheet-confstructures {
  display: inline;
}
.charsheet .sheet-topbuttons {
  background-color: transparent;
  border: none;
  background-image: none;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  height: 28px;
  margin: 0px;
  padding: 0 5px 0 5px;
}
.charsheet .sheet-picbuttons {
  color: black;
  background-color: transparent;
  font-family: "Pictos";
  font-size: 2em;
  border: none;
  background-image: none;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  height: 28px;
  margin: 0px;
  padding: 0 5px 0 5px;
}
.charsheet .sheet-confspells,
.charsheet .sheet-confpsionics,
.charsheet .sheet-confhealer,
.charsheet .sheet-confwards,
.charsheet .sheet-confcircles,
.charsheet .sheet-confstructures {
  display: none;
}
.charsheet .sheet-character, .charsheet .sheet-social, .charsheet .sheet-skill, .charsheet .sheet-combat,
.charsheet .sheet-equipment, .charsheet .sheet-journal, .charsheet .sheet-spells, .charsheet .sheet-psionics,
.charsheet .sheet-healer, .charsheet .sheet-wards, .charsheet .sheet-circles, .charsheet .sheet-structures {
  background: #9cb09b;
}
.charsheet .sheet-release, .charsheet .sheet-config {
  background: #c6cdda;
}
.charsheet .repcontrol_del,
.charsheet .repcontrol_move,
.charsheet .repcontrol_add,
.charsheet .repcontrol_edit {
  font-family: pictos;
}
.charsheet .repcontrol_add::before {
  content: "&";
  visibility: visible;
  font-family: pictos;
  background-color: #6b8a76;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px 5px 3px 5px;
  color: #ebebeb;
}
.charsheet .repcontrol .repcontrol_edit:after {
  font-family: Arial;
  font-weight: bold;
  content: "☰";
  visibility: visible;
  font-family: pictos;
  background-color: #6b8a76;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  padding: 3px 3px 2px 3px;
  color: #ebebeb;
}
.charsheet .editmode ~ .repcontrol .repcontrol_edit:after {
  font-family: Pictos;
  content: "3";
  background-color: #6b8a76;
  width: 16px;
}
.charsheet .repcontrol_edit:hover:before,
.charsheet .repcontrol_edit:hover:after,
.charsheet .repcontrol_add:hover:before,
.charsheet .repcontrol_del:hover:before {
  color: black !important;
}
.charsheet .repcontrol .btn {
  border: none;
  color: white !important;
  font-size: 0;
  padding: 3px 0 0 0;
  background: none;
  box-shadow: none;
}
.charsheet .repcontrol .btn:focus {
  outline: 0;
}
.charsheet .repcontrol_add,
.charsheet .repcontrol_edit {
  display: block;
  background: none;
  color: transparent !important;
  border: none;
  box-shadow: none;
}
.charsheet .repcontrol_del,
.charsheet .repcontrol_move {
  display: block;
  background: #6b8a76;
  color: #ebebeb !important;
  border: none;
  box-shadow: none;
}
.charsheet .repcontrol_move {
  float: left;
}
.charsheet input.sheet-arrow {
  float: left;
}
.charsheet .sheet-body {
  display: none;
}
.charsheet input.sheet-arrow:checked ~ .sheet-body {
  display: block;
}
.charsheet input[type=number].sheet-nospin::-webkit-inner-spin-button, .charsheet input[type=number].sheet-nospin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.charsheet input[type=number].sheet-nospin {
  -moz-appearance: textfield;
}
.charsheet input[type=number]::-webkit-outer-spin-button, .charsheet input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charsheet input[type=number] {
  -moz-appearance: textfield;
}
.charsheet .sheet-statheader-container {
  display: grid;
  align-items: center;
  grid-template-columns: 450px 100px 150px;
}
.charsheet .sheet-whispertoggle-container {
  display: grid;
  grid-template-columns: 0px 75px 0px 75px;
}
.charsheet .sheet-toggle-left, .charsheet .sheet-toggle-right {
  width: 75px;
  height: 18px;
  margin-right: -75px;
  margin-bottom: 2px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.charsheet .sheet-toggle-left + span::before, .charsheet .sheet-toggle-right + span::before {
  content: attr(title);
  border: solid 2px #889987;
  text-align: center;
  display: inline-block;
  background: #889987;
  width: 75px;
  height: 18px;
  font-size: 16px;
}
.charsheet .sheet-toggle-left:checked + span::before, .charsheet .sheet-toggle-right:checked + span::before {
  background: #9cb09b;
  border-bottom-color: black;
}
.charsheet .sheet-align {
  align-items: center;
  text-align: center;
}
.charsheet .sheet-name-grid-container {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  padding-left: 5px;
  grid-template-columns: 50px 213px 75px 213px;
}
.charsheet .sheet-class-grid-container {
  display: grid;
  align-items: center;
  padding-left: 5px;
  grid-template-columns: 50px 213px 45px 100px 85px 213px;
}
.charsheet .sheet-class-stats {
  width: 95px;
}
.charsheet .sheet-middle-grid-container {
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 160px 10px 160px 10px 185px 10px 180px;
}
.charsheet .sheet-blue-grid-container {
  display: grid;
  align-items: center;
  padding: 10px;
  border: 5px solid #82a3b5;
  border-radius: 10px;
  grid-template-columns: 65px 65px;
}
.charsheet button[type=roll].sheet-statdice::before {
  content: "";
}
.charsheet .sheet-statdice {
  color: black;
  background: #82a3b5;
  font-weight: bold;
}
.charsheet .sheet-gold-grid-container {
  display: grid;
  align-items: center;
  padding: 10px;
  border: 5px solid #c0b982;
  border-radius: 10px;
  grid-template-columns: 90px 65px;
}
.charsheet .sheet-ltblue-grid-container {
  display: grid;
  align-items: center;
  padding: 10px;
  border: 5px solid #a7cacd;
  border-radius: 10px;
  grid-template-columns: 90px 75px;
}
.charsheet button[type=roll].sheet-rolldice::before {
  content: "";
}
.charsheet .sheet-rolldice {
  color: black;
  background: #a7cacd;
}
.charsheet .sheet-roll-field, .charsheet .sheet-caster-field {
  width: 65px;
}
.charsheet .sheet-caster-grid-container {
  display: grid;
  align-items: center;
  padding: 10px;
  border: 5px solid #b8927a;
  border-radius: 10px;
  grid-template-columns: 90px 75px;
}
.charsheet .sheet-stat-title, .charsheet .sheet-calc-title, .charsheet .sheet-roll-title, .charsheet .sheet-caster-title {
  text-decoration: underline;
}
.charsheet .sheet-mint {
  background-color: #e0e8df;
}
.charsheet .sheet-autocalc {
  background-color: #cfd7ce;
}
.charsheet .sheet-fraction-grid-container {
  display: grid;
  grid-template-columns: 31px 3px 31px;
}
.charsheet .sheet-minmax {
  width: 31px;
}
.charsheet .sheet-divider {
  background-color: #5e6c5d;
}
.charsheet .sheet-calc-field {
  width: 40px;
}
.charsheet .sheet-movement-container {
  display: grid;
  padding: 10px;
  border: 5px solid #889987;
  border-radius: 10px;
  max-width: 685px;
}
.charsheet .sheet-leap-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 150px 75px 75px 30px;
}
.charsheet .sheet-movement-panel {
  padding-top: 5px;
}
.charsheet .sheet-movement-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 213px 70px 70px 70px 70px 60px 60px;
}
.charsheet .sheet-attackoptions-container {
  display: grid;
  padding-bottom: 5px;
  align-items: center;
  grid-template-columns: 125px 80px 160px 60px 225px;
}
.charsheet .sheet-melee-attack-panel, .charsheet .sheet-ranged-attack-panel {
  padding: 10px;
}
.charsheet .sheet-melee-attack-panel {
  border-bottom: 5px solid #889987;
  max-width: 745px;
}
.charsheet .sheet-mountparry-container {
  display: grid;
  grid-template-columns: 0px 75px 0px 75px;
}
.charsheet .sheet-mountdamage-container {
  display: grid;
  grid-template-columns: 0px 75px 0px 75px 0px 75px;
}
.charsheet .sheet-ctoggle-left, .charsheet .sheet-ctoggle-middle, .charsheet .sheet-ctoggle-right {
  width: 75px;
  height: 14px;
  margin-right: -75px;
  margin-bottom: 2px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.charsheet .sheet-ctoggle-left + span::before, .charsheet .sheet-ctoggle-middle + span::before, .charsheet .sheet-ctoggle-right + span::before {
  content: attr(title);
  border: solid 2px #889987;
  text-align: center;
  display: inline-block;
  background: #889987;
  width: 75px;
  height: 14px;
  font-size: 12px;
}
.charsheet .sheet-ctoggle-left:checked + span::before, .charsheet .sheet-ctoggle-middle:checked + span::before,
.charsheet .sheet-ctoggle-right:checked + span::before {
  background: #9cb09b;
  border-bottom-color: black;
}
.charsheet .sheet-meleetemp-container {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  grid-template-columns: 160px 50px 50px 50px 50px 60px 40px;
}
.charsheet .sheet-mattack-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 160px 80px 80px 80px 62px 75px;
}
.charsheet button[type=roll].sheet-meleedice::before {
  content: "";
}
.charsheet button[type=roll].sheet-rangeddice::before {
  content: "";
}
.charsheet .sheet-mattack-label, .charsheet .sheet-rattack-label {
  width: 160px;
}
.charsheet .sheet-meleedice, .charsheet .sheet-rangeddice {
  background: #6b8a76;
  color: #ebebeb;
}
.charsheet .sheet-damage-dice {
  width: 60px;
}
.charsheet div.sheet-mbonus-hide {
  display: none;
}
.charsheet input.sheet-mbonus-toggle[value="1"] ~ div.sheet-mbonus-hide {
  display: block;
}
.charsheet .sheet-mbonus-container {
  display: grid;
  grid-template-columns: 213px 213px 301px;
}
.charsheet .sheet-mattack-text, .charsheet .sheet-rattack-text {
  width: 38px;
}
.charsheet .sheet-mattack-notes {
  height: 18px;
  width: 300px;
  margin: 0px;
  overflow: auto;
  resize: vertical;
}
.charsheet .sheet-rattack-notes {
  height: 18px;
  width: 512px;
  margin: 0px;
  overflow: auto;
  resize: vertical;
}
.charsheet .sheet-ranged-attack-panel {
  max-width: 745px;
  border-bottom: 5px solid #889987;
}
.charsheet .sheet-rangedtemp-container {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  grid-template-columns: 160px 50px 50px 60px 40px;
}
.charsheet .sheet-rattack-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 160px 80px 80px 62px 40px 40px 40px 75px;
}
.charsheet div.sheet-rbonus-hide {
  display: none;
}
.charsheet input.sheet-rbonus-toggle[value="1"] ~ div.sheet-rbonus-hide {
  display: block;
}
.charsheet .sheet-rbonus-container {
  display: grid;
  grid-template-columns: 213px 563px;
}
.charsheet .sheet-physical-grid-container {
  display: grid;
  align-items: center;
  padding-left: 10px;
  grid-template-columns: 110px 110px 110px 110px 110px;
}
.charsheet .sheet-physical-field {
  width: 100px;
}
.charsheet .sheet-origin-grid-container {
  display: grid;
  align-items: center;
  padding: 10px;
  grid-template-columns: 110px 220px 220px;
}
.charsheet .sheet-mental-grid-container {
  display: grid;
  align-items: center;
  padding: 10px;
  grid-template-columns: 550px;
}
.charsheet .sheet-mental-field {
  max-height: 60px;
}
.charsheet .sheet-inventory-container {
  padding-left: 5px;
}
.charsheet .sheet-encumbrance-panel {
  display: grid;
  align-items: center;
  padding-bottom: 10px;
  grid-template-columns: 85px 20px;
}
.charsheet .sheet-weight-box {
  width: 83px;
}
.charsheet .sheet-weightsub-box {
  width: 63px;
}
.charsheet .sheet-weapon-grid-container {
  display: grid;
  grid-template-columns: 213px 62px 62px 62px 47px 30px auto;
}
.charsheet .sheet-weapon-textarea {
  grid-column: 1/7;
}
.charsheet .sheet-weapon-textarea {
  max-height: 60px;
}
.charsheet .sheet-weapon-inventory-panel, .charsheet .sheet-armor-inventory-panel, .charsheet .sheet-gear-inventory-panel,
.charsheet .sheet-consumable-inventory-panel, .charsheet .sheet-wealth-inventory-panel {
  max-width: 740px;
  padding-bottom: 10px;
}
.charsheet .sheet-armor-grid-container {
  display: grid;
  grid-template-columns: 213px 47px 47px 62px 47px 30px auto;
}
.charsheet .sheet-armor-textarea {
  grid-column: 1/7;
}
.charsheet .sheet-armor-textarea {
  max-height: 60px;
}
.charsheet .sheet-inventory-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 213px 213px 213px 62px 30px auto;
}
.charsheet .sheet-inventory-textarea {
  grid-column: 1/6;
}
.charsheet .sheet-inventory-textarea {
  max-height: 60px;
}
.charsheet .sheet-counter {
  width: 28px;
}
.charsheet .sheet-occ-skill-panel, .charsheet .sheet-elective-skill-panel,
.charsheet .sheet-secondary-skill-panel, .charsheet .sheet-mystic-skill-panel {
  max-width: 710px;
}
.charsheet .sheet-skill-container {
  padding-left: 5px;
}
.charsheet .sheet-universalrow-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 150px 50px 150px 50px 150px;
}
.charsheet .sheet-skill-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 213px 50px 15px 50px 50px 50px 50px;
}
.charsheet div.sheet-skillextras-hide {
  display: none;
}
.charsheet input.sheet-skillextras-toggle[value="1"] ~ div.sheet-skillextras-hide {
  display: block;
}
.charsheet .sheet-skillextras-container {
  display: grid;
  padding-bottom: 5px;
  grid-template-columns: 700px;
}
.charsheet .sheet-skill-notes {
  height: 36px;
  width: 700px;
  margin: 0px;
  overflow: auto;
  resize: vertical;
}
.charsheet button[type=roll].sheet-skillroll::before {
  content: "";
}
.charsheet .sheet-skillroll {
  color: #ebebeb;
  background: #6b8a76;
}
.charsheet .sheet-dicefontd20 {
  font-family: "dicefontd20";
}
.charsheet .sheet-combat-container {
  padding-left: 5px;
}
.charsheet .sheet-melee-proficiency-panel {
  padding-bottom: 5px;
  border-bottom: 5px solid #889987;
  max-width: 460px;
}
.charsheet .sheet-melee-grid-container {
  display: grid;
  grid-template-columns: 213px 50px 50px 50px 50px 50px;
}
.charsheet .sheet-ranged-proficiency-panel {
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 460px;
}
.charsheet .sheet-ranged-grid-container {
  display: grid;
  grid-template-columns: 213px 50px 50px 50px 50px;
}
.charsheet .sheet-combat-skill-panel {
  padding: 5px;
  border: 5px solid #889987;
  border-radius: 10px;
  max-width: 525px;
}
.charsheet .sheet-combat-grid-container {
  display: grid;
  grid-template-columns: 250px auto;
}
.charsheet .sheet-combat-textarea {
  grid-column: 1/2;
}
.charsheet .sheet-combat-textarea {
  max-height: 60px;
}
.charsheet .sheet-bonus-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 150px 50px 130px 150px 50px;
}
.charsheet .sheet-bonus-field {
  width: 45px;
}
.charsheet .sheet-saving-throw-panel {
  padding-top: 5px;
}
.charsheet .sheet-saves-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 150px 50px 30px 70px 150px 50px 30px;
}
.charsheet button[type=roll].sheet-savedice::before {
  content: "";
}
.charsheet .sheet-savedice {
  color: #ebebeb;
  background: #6b8a76;
}
.charsheet .sheet-save-notes-container {
  display: grid;
  grid-template-columns: 500px 30px;
}
.charsheet .sheet-save-misc {
  max-width: 500px;
  max-height: 60px;
}
.charsheet .sheet-underline {
  text-decoration: underline;
}
.charsheet .sheet-spells {
  padding-left: 5px;
  padding-right: 10px;
}
.charsheet .sheet-spell-panel {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  grid-template-columns: 80px 170px 80px 170px 80px 170px;
}
.charsheet button[type=roll].sheet-rollspell::before {
  content: "";
}
.charsheet .sheet-rollspell {
  color: #ebebeb;
  background: #6b8a76;
}
.charsheet .sheet-spell-text {
  min-width: 735px;
  max-height: 60px;
}
.charsheet .sheet-spell-label {
  width: 165px;
}
.charsheet .sheet-spell-attack {
  width: 75px;
}
.charsheet .sheet-psionics {
  padding-left: 5px;
  padding-right: 10px;
}
.charsheet .sheet-psionic-panel {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  grid-template-columns: 80px 215px 80px 80px 80px 215px;
}
.charsheet button[type=roll].sheet-rollpsion::before {
  content: "";
}
.charsheet .sheet-rollpsion {
  color: #ebebeb;
  background: #6b8a76;
}
.charsheet .sheet-psionic-text {
  min-width: 735px;
  max-height: 60px;
}
.charsheet .sheet-healer {
  padding-left: 5px;
  padding-right: 10px;
}
.charsheet .sheet-healer-panel {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  grid-template-columns: 80px 215px 80px 80px 80px 215px;
}
.charsheet button[type=roll].sheet-rollhealer::before {
  content: "";
}
.charsheet .sheet-rollhealer {
  color: #ebebeb;
  background: #6b8a76;
}
.charsheet .sheet-healer-text {
  min-width: 735px;
  max-height: 60px;
}
.charsheet .sheet-wards {
  padding-left: 5px;
  padding-right: 10px;
}
.charsheet .sheet-ward-panel {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  grid-template-columns: 80px 170px 80px 170px 80px 170px;
}
.charsheet .sheet-circles {
  padding-left: 5px;
  padding-right: 10px;
}
.charsheet .sheet-circle-panel {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  grid-template-columns: 80px 170px 80px 170px 80px 170px;
}
.charsheet .sheet-structures {
  padding-left: 5px;
}
.charsheet .sheet-ship-name {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  grid-template-columns: 215px 215px 65px 65px;
}
.charsheet .sheet-ship-details {
  width: 550px;
  max-height: 75px;
}
.charsheet .sheet-shipattack-container {
  width: 770px;
}
.charsheet .sheet-ship-attacks {
  display: grid;
  align-items: center;
  grid-template-columns: 110px 110px 110px 110px 330px;
}
.charsheet .sheet-ship-text {
  max-width: 100px;
}
.charsheet button[type=roll].sheet-shiproll::before {
  content: "";
}
.charsheet .sheet-shiproll {
  color: #ebebeb;
  background: #6b8a76;
  width: 90px;
}
.charsheet .sheet-ship-textarea {
  height: 18px;
  width: 300px;
  margin: 0px;
  overflow: auto;
  resize: vertical;
}
.charsheet .sheet-ship-parts {
  display: grid;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
}
.charsheet .sheet-structure-name {
  display: grid;
  align-items: center;
  padding-bottom: 5px;
  grid-template-columns: 215px 215px 65px 65px;
}
.charsheet .sheet-structure-details {
  width: 550px;
  max-height: 75px;
}
.charsheet .sheet-structureattack-container {
  width: 770px;
}
.charsheet .sheet-structure-attacks {
  display: grid;
  align-items: center;
  grid-template-columns: 110px 110px 110px 110px 330px;
}
.charsheet .sheet-structure-text {
  max-width: 100px;
}
.charsheet button[type=roll].sheet-structureroll::before {
  content: "";
}
.charsheet .sheet-structureroll {
  color: #ebebeb;
  background: #6b8a76;
  width: 90px;
}
.charsheet .sheet-structure-textarea {
  height: 18px;
  width: 300px;
  margin: 0px;
  overflow: auto;
  resize: vertical;
}
.charsheet .sheet-structure-parts {
  display: grid;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
}
.charsheet .sheet-journal-container {
  padding-left: 5px;
}
.charsheet .sheet-note-one-panel, .charsheet .sheet-note-two-panel, .charsheet .sheet-note-three-panel {
  max-width: 625px;
}
.charsheet .sheet-notes-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 90px 213px auto;
}
.charsheet .sheet-second-notes-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 90px 213px auto;
}
.charsheet .sheet-third-notes-grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 90px 213px auto;
}
.charsheet button[type=roll].sheet-noteroll::before {
  content: "";
}
.charsheet .sheet-noteroll {
  color: #ebebeb;
  background: #6b8a76;
}
.charsheet .sheet-notes-textarea {
  grid-column: 1/3;
}
.charsheet .sheet-notes-textarea {
  min-width: 600px;
}
.charsheet .sheet-config {
  padding-left: 5px;
}
.charsheet .sheet-configarea {
  display: grid;
  padding-top: 5px;
  grid-template-columns: 200px 500px;
}
.charsheet .sheet-tab-options {
  display: grid;
  align-items: center;
  line-height: 2;
  grid-template-columns: 20px 150px;
}
.charsheet .sheet-colortoggle {
  display: grid;
  align-items: center;
  grid-template-columns: 0px 75px 0px 75px 0px 75px 0px 75px 0px 75px 0px 75px 0px 75px;
}
.charsheet .sheet-toggle-ice, .charsheet .sheet-toggle-orange, .charsheet .sheet-toggle-pine,
.charsheet .sheet-toggle-teal, .charsheet .sheet-toggle-wine, .charsheet .sheet-toggle-yellow,
.charsheet .sheet-toggle-violet {
  width: 75px;
  height: 18px;
  margin-right: -75px;
  margin-bottom: 2px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.charsheet .sheet-toggle-ice + span::before, .charsheet .sheet-toggle-orange + span::before,
.charsheet .sheet-toggle-pine + span::before, .charsheet .sheet-toggle-teal + span::before,
.charsheet .sheet-toggle-wine + span::before, .charsheet .sheet-toggle-yellow + span::before,
.charsheet .sheet-toggle-violet + span::before {
  content: attr(title);
  border: solid 2px #82a3b5;
  text-align: center;
  display: inline-block;
  background: #82a3b5;
  width: 75px;
  height: 18px;
  font-size: 16px;
}
.charsheet .sheet-toggle-ice:checked + span::before {
  background-color: #ccf4ff;
  color: black;
}
.charsheet .sheet-toggle-orange:checked + span::before {
  background-color: #d46c18;
  color: white;
}
.charsheet .sheet-toggle-pine:checked + span::before {
  background-color: #1e4f1f;
  color: white;
}
.charsheet .sheet-toggle-teal:checked + span::before {
  background-color: #4f9994;
  color: white;
}
.charsheet .sheet-toggle-violet:checked + span::before {
  background-color: #650042;
  color: white;
}
.charsheet .sheet-toggle-wine:checked + span::before {
  background-color: #a3505c;
  color: white;
}
.charsheet .sheet-toggle-yellow:checked + span::before {
  background-color: #e6c35a;
  color: black;
}

/* Main Roll Template */
.sheet-rolltemplate-custom {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-custom {
  margin-left: -7px;
}
.sheet-rolltemplate-custom .sheet-container {
  border: 1px solid;
  border-color: var(--header-bg-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.sheet-rolltemplate-custom .sheet-header {
  background-color: var(--header-bg-color);
  text-align: center;
  color: var(--header-text-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}
.sheet-rolltemplate-custom .sheet-title {
  font-size: 1.1em;
}
.sheet-rolltemplate-custom .sheet-subtitle {
  font-size: 0.9em;
}
.sheet-rolltemplate-custom .sheet-note {
  background-color: var(--header-bg-color);
  display: grid;
  grid-template-columns: auto auto;
  font-size: 0.9em;
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  color: var(--header-text-color);
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-black {
  --header-bg-color: rgba(0,0,0,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-brown {
  --header-bg-color: rgba(144,77,10,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-yellow {
  --header-bg-color: rgba(230,195,90,1);
  --header-text-color: #OOO;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-grey {
  --header-bg-color: rgba(187,187,187,1);
  --header-text-color: #OOO;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-blue {
  --header-bg-color: rgba(6,54,134,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-red {
  --header-bg-color: rgba(125,26,26,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-green {
  --header-bg-color: rgba(67,128,91,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-teal {
  --header-bg-color: rgba(79,153,148,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-orange {
  --header-bg-color: rgba(212,108,24,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-pine {
  --header-bg-color: rgba(30,79,31,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-ice {
  --header-bg-color: rgba(204,244,255,1);
  --header-text-color: #OOO;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-violet {
  --header-bg-color: rgba(101,0,66,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-sun {
  --header-bg-color: rgba(249,229,124,1);
  --header-text-color: #OOO;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-wine {
  --header-bg-color: rgba(163,80,92,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height: 1.4em;
}
.sheet-rolltemplate-custom .sheet-content > div {
  padding: 5px;
}
.sheet-rolltemplate-custom .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 5px;
  text-align: right;
}
.sheet-rolltemplate-custom .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-custom .sheet-content :nth-child(4n) {
  background: #EEE;
}
.sheet-rolltemplate-custom .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}
.sheet-rolltemplate-custom a[href^="!"], .sheet-rolltemplate-custom a[href^="~"] {
  background-color: transparent;
  border: 0;
  color: #3f8aa6;
  display: inline;
  padding: 0;
}

/* Menu Roll Template */
.sheet-rolltemplate-menu {
  margin-left: -37px;
}

.withoutavatars .sheet-rolltemplate-menu {
  margin-left: -7px;
}

.sheet-rolltemplate-menu .sheet-container {
  border: 1px solid;
  border-color: var(--header-bg-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.sheet-rolltemplate-menu .sheet-header {
  background-color: var(--header-bg-color);
  text-align: center;
  color: var(--header-text-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.sheet-rolltemplate-menu .sheet-title {
  font-size: 1.1em;
}

.sheet-rolltemplate-menu .sheet-subtitle {
  font-size: 0.9em;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-black {
  --header-bg-color: rgba(0,0,0,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-brown {
  --header-bg-color: rgba(144,77,10,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-yellow {
  --header-bg-color: rgba(230,195,90,1);
  --header-text-color: #OOO;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-grey {
  --header-bg-color: rgba(187,187,187,1);
  --header-text-color: #OOO;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-blue {
  --header-bg-color: rgba(6,54,134,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-red {
  --header-bg-color: rgba(125,26,26,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-green {
  --header-bg-color: rgba(67,128,91,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-teal {
  --header-bg-color: rgba(79,153,148,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-orange {
  --header-bg-color: rgba(212,108,24,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-pine {
  --header-bg-color: rgba(30,79,31,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-ice {
  --header-bg-color: rgba(204,244,255,1);
  --header-text-color: #OOO;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-violet {
  --header-bg-color: rgba(101,0,66,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-sun {
  --header-bg-color: rgba(249,229,124,1);
  --header-text-color: #OOO;
}

.sheet-rolltemplate-menu .sheet-container.sheet-color-wine {
  --header-bg-color: rgba(163,80,92,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-menu .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height: 18px;
}

.sheet-rolltemplate-menu .sheet-content > div {
  padding: 5px;
}

.sheet-rolltemplate-menu .sheet-content .sheet-key {
  font-weight: normal;
  font-style: italic;
  padding-right: 5px;
  text-align: right;
}

.sheet-rolltemplate-menu .sheet-value {
  font-weight: normal;
  font-style: italic;
  padding-left: 5px;
  text-align: left;
}

.sheet-rolltemplate-menu .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: #ededed;
}

.sheet-rolltemplate-menu a[href^="!"], .sheet-rolltemplate-menu a[href^="~"] {
  background-color: transparent;
  border: 0;
  color: #3f8aa6;
  display: inline;
  padding: 0;
}

/* Spells Roll Template */
.sheet-rolltemplate-spells {
  margin-left: -37px;
}

.withoutavatars .sheet-rolltemplate-spells {
  margin-left: -7px;
}

.sheet-rolltemplate-spells .sheet-container {
  border: 1px solid;
  border-color: var(--header-bg-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.sheet-rolltemplate-spells .sheet-header {
  background-color: var(--header-bg-color);
  text-align: center;
  color: var(--header-text-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.sheet-rolltemplate-spells .sheet-title {
  font-size: 1.1em;
}

.sheet-rolltemplate-spells .sheet-subtitle {
  font-size: 0.9em;
}

.sheet-rolltemplate-spells .sheet-note {
  background-color: var(--header-bg-color);
  display: grid;
  grid-template-columns: auto auto;
  font-size: 0.9em;
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  color: var(--header-text-color);
}

.sheet-rolltemplate-spells .sheet-attack {
  background-color: white;
  display: grid;
  grid-template-columns: auto;
  font-size: 1em;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  color: black;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-black {
  --header-bg-color: rgba(0,0,0,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-brown {
  --header-bg-color: rgba(144,77,10,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-yellow {
  --header-bg-color: rgba(230,195,90,1);
  --header-text-color: #OOO;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-grey {
  --header-bg-color: rgba(187,187,187,1);
  --header-text-color: #OOO;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-blue {
  --header-bg-color: rgba(6,54,134,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-red {
  --header-bg-color: rgba(125,26,26,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-green {
  --header-bg-color: rgba(67,128,91,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-teal {
  --header-bg-color: rgba(79,153,148,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-orange {
  --header-bg-color: rgba(212,108,24,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-pine {
  --header-bg-color: rgba(30,79,31,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-ice {
  --header-bg-color: rgba(204,244,255,1);
  --header-text-color: #OOO;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-violet {
  --header-bg-color: rgba(101,0,66,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-sun {
  --header-bg-color: rgba(249,229,124,1);
  --header-text-color: #OOO;
}

.sheet-rolltemplate-spells .sheet-container.sheet-color-wine {
  --header-bg-color: rgba(163,80,92,1);
  --header-text-color: #FFF;
}

.sheet-rolltemplate-spells .inlinerollresult,
.sheet-rolltemplate-spells .inlinerollresult.fullcrit,
.sheet-rolltemplate-spells .inlinerollresult.fullfail,
.sheet-rolltemplate-spells .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
}

.sheet-rolltemplate-spells .inlineroll.fullcrit,
.sheet-rolltemplate-spells .inlineroll.fullfail,
.sheet-rolltemplate-spells .inlineroll.importantroll {
  border: none;
}

.sheet-rolltemplate-spells .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height: 1.4em;
}

.sheet-rolltemplate-spells .sheet-content > div {
  padding: 5px;
}

.sheet-rolltemplate-spells .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 5px;
  text-align: right;
}

.sheet-rolltemplate-spells .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-spells .sheet-content :nth-child(4n) {
  background: #EEE;
}

.sheet-rolltemplate-spells .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

.sheet-rolltemplate-spells a[href^="!"], .sheet-rolltemplate-spells a[href^="~"] {
  background-color: transparent;
  border: 0;
  color: #3f8aa6;
  display: inline;
  padding: 0;
}

/* Roll Templates */
