// main sheet code
div.sheet-base
  |
  include src/html/_main.html
  |
  |
  // Release Notes
  include src/html/_releasenotes.pug
|
|
//Roll Templates
|
|
|
include src/html/_rolltemplates.html
|
|
//sheetworkers
script(type="text/worker")
  include src/html/sheetworkers.js
//- mixins & variables
//-include src/html/_mixins.pug
//-include src/html/_variables.pug