// 
//
// one perk of SASS is you can write plain CSS,
// and just add nesting to simplify writing.
// https://sass-lang.com/documentation/style-rules#nesting
//
// here, all sheet CSS is wrapped inside ".charsheet"
.charsheet{
//  Black Sheet Border
  .base {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border:solid black 1px;
  }
  //  Configure the Button Bar
  .buttonbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px 0 0 0;
    background: #cdc6b1;
    border:solid 1px black;
  }

  .navbuttons {
    display: flex;
    text-align: left;
    flex-wrap: nowrap;
    flex: 1 0 75%;
  }

  .line-divider{
    flex: 0 1 10%;
    align-items:center;
  }

  .docbuttons {
    text-align: right;
    flex: 1 0 15%;
  }
  // Configure the tab
  .character,
  .social,
  .skill,
  .combat,
  .equipment,
  .spells,
  .psionics,
  .healer,
  .wards,
  .circles,
  .structures,
  .journal,
  .config,
  .release{
    display: none;
  }

  //  show the selected tab
  .tabstoggle[value="character"] ~ div.character,
  .tabstoggle[value="social"] ~ div.social,
  .tabstoggle[value="skill"] ~ div.skill,
  .tabstoggle[value="equipment"] ~ div.equipment,
  .tabstoggle[value="combat"] ~ div.combat,
  .tabstoggle[value="spells"] ~ div.spells,
  .tabstoggle[value="psionics"] ~ div.psionics,
  .tabstoggle[value="healer"] ~ div.healer,
  .tabstoggle[value="wards"] ~ div.wards,
  .tabstoggle[value="circles"] ~ div.circles,
  .tabstoggle[value="structures"] ~ div.structures,
  .tabstoggle[value="journal"] ~ div.journal,
  .tabstoggle[value="configuration"] ~ div.config,
  .tabstoggle[value="release"] ~ div.release {
    display: block;
  }

  //  reveal tab buttons
  input[value="1"].showspells ~ .confspells, 
  input[value="1"].showpsionics ~ .confpsionics, 
  input[value="1"].showhealer ~ .confhealer,
  input[value="1"].showwards ~ .confwards, 
  input[value="1"].showcircles ~ .confcircles,
  input[value="1"].showstructures ~ .confstructures{
    display:inline;
  }
  .topbuttons {
    background-color: transparent;
    border: none;
    background-image: none;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
    height: 28px;
    margin: 0px;
    padding: 0 5px 0 5px;
  }
  .picbuttons {
        color: black;
    background-color: transparent;
    font-family: "Pictos";
    font-size: 2em;
    border: none;
    background-image: none;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
    height: 28px;
    margin: 0px;
    padding: 0 5px 0 5px;
  }
  //  hide tab buttons
  .confspells,
  .confpsionics,
  .confhealer,
  .confwards,
  .confcircles,
  .confstructures{
    display: none;
  }


  //  Sheet Background Color
  .character, .social, .skill, .combat, 
  .equipment, .journal, .spells, .psionics,
  .healer, .wards, .circles, .structures{
    background: #9cb09b;
  }
  .release, .config{
    background: #c6cdda;
  }
  //  === FIELDSETS ===
  .repcontrol_del,
  .repcontrol_move,
  .repcontrol_add,
  .repcontrol_edit {
    font-family: pictos;
  }
  .repcontrol_add::before {
    content: '&';
    visibility: visible;
    font-family: pictos ;
    background-color: #6b8a76;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 5px 3px 5px;
    color: #ebebeb;
  }
  .repcontrol .repcontrol_edit:after {
  //   content: 'W'; hamburger menu
    font-family: Arial ;
    font-weight: bold;
    content: '☰';
    visibility: visible;
    font-family: pictos;
    background-color: #6b8a76;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 3px 2px 3px;
    color: #ebebeb;
  }
  .editmode ~ .repcontrol .repcontrol_edit:after {
    font-family: Pictos;
    content: '3';
    background-color: #6b8a76;
    width:16px;
  }
  .repcontrol_edit:hover:before,
  .repcontrol_edit:hover:after, 
  .repcontrol_add:hover:before,
  .repcontrol_del:hover:before{
    color: black !important;
  }
  .repcontrol .btn{
    border: none;
    color: white !important;
    font-size: 0;
    padding: 3px 0 0 0;
    background: none;
    box-shadow: none;
  }
  .repcontrol .btn:focus {
  outline: 0;
  }
  .repcontrol_add,
  .repcontrol_edit {
    display: block;
    background: none;
    color: transparent !important;
    border: none;
    box-shadow: none;   
  }
  .repcontrol_del,
  .repcontrol_move {
    display: block;
    background: #6b8a76;
    color: #ebebeb !important;
    border: none;
    box-shadow: none;
  }
  .repcontrol_move {
    float: left;
  }
  //  Sheet Arrow Show Hide
  input.arrow {
    float: left;
  }
  .body{
    display: none;
  }
  input.arrow:checked ~ .body {
    display: block;
  }

  //  Disable number input spinner
  input[type=number].nospin::-webkit-inner-spin-button,input[type=number].nospin::-webkit-outer-spin-button{
    -webkit-appearance:none;appearance:none
  }
  input[type=number].nospin{
    -moz-appearance:textfield
  }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  input[type=number] {
  -moz-appearance: textfield;
  }


  //  Main Tab Content Start
  .statheader-container{
    display:grid;
    align-items:center;
    grid-template-columns: 450px 100px 150px
  }
  .whispertoggle-container{
    display:grid;
    grid-template-columns: 0px 75px 0px 75px
  }
  .toggle-left, .toggle-right{
    width: 75px;
    height: 18px;
    margin-right: -75px;
    margin-bottom: 2px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
  }
  .toggle-left + span::before, .toggle-right + span::before{
    content:attr(title);
    border: solid 2px #889987;
    text-align: center;
    display: inline-block;
    
    background: #889987;

    width: 75px;
    height: 18px;
    font-size: 16px;
  }
  .toggle-left:checked + span::before, .toggle-right:checked + span::before{
    background: #9cb09b;
    border-bottom-color: black;
  }
  .align{
    align-items: center;
    text-align: center;
  }
  .name-grid-container{
    display:grid;
    align-items:center;
    padding-bottom:5px;
    padding-left:5px;
    grid-template-columns: 50px 213px 75px 213px
  }
  .class-grid-container{
    display:grid;
    align-items:center;
    padding-left:5px;
    grid-template-columns: 50px 213px 45px 100px 85px 213px
  }
  .class-stats{
    width: 95px;
  }
  .middle-grid-container{
    display:grid;
    padding-top:10px;
    padding-bottom:10px;
    grid-template-columns: 160px 10px 160px 10px 185px 10px 180px
  }
  .blue-grid-container{
    display:grid;
    align-items:center;
    padding:10px;
    border:5px solid #82a3b5;
    border-radius:10px;
    grid-template-columns: 65px 65px
  }
  button[type=roll].statdice::before {
    content: "";
  }
  .statdice{
    color:black;
    background: #82a3b5;
    font-weight:bold;
  }
  .gold-grid-container{
    display:grid;
    align-items:center;
    padding:10px;
    border:5px solid #c0b982;
    border-radius:10px;
    grid-template-columns: 90px 65px
  }
  .ltblue-grid-container{
    display:grid;
    align-items:center;
    padding:10px;
    border:5px solid #a7cacd;
    border-radius:10px;
    grid-template-columns: 90px 75px
  }
  button[type=roll].rolldice::before {
    content: ""; 
  }
  .rolldice{
    color:black;
    background: #a7cacd;
  }
  .roll-field, .caster-field{
    width:65px;
  }
  .caster-grid-container{
    display:grid;
    align-items:center;
    padding:10px;
    border:5px solid #b8927a;
    border-radius:10px;
    grid-template-columns: 90px 75px
  }
  .stat-title, .calc-title, .roll-title, .caster-title{
    text-decoration:underline;
  }
  //  Background color for entry fields
  .mint {
    background-color:#e0e8df;
  }
  //  Background color for readonly fields
  .autocalc {
    background-color: #cfd7ce;
  }

  .fraction-grid-container{
    display:grid;
    grid-template-columns: 31px 3px 31px
  }
  .minmax{
    width: 31px;
  }
  .divider{
    background-color: #5e6c5d;
  }
  .calc-field{
    width: 40px;
  }
  .movement-container{
    display:grid;
    padding:10px;
    border:5px solid #889987;
    border-radius:10px;
    max-width: 685px
  }
  .leap-grid-container{
    display:grid;
    align-items:center;
    grid-template-columns: 150px 75px 75px 30px
  }
  .movement-panel{
    padding-top:5px;
  }
  .movement-grid-container{
    display:grid;
    align-items:center;
    grid-template-columns: 213px 70px 70px 70px 70px 60px 60px
  }
  .attackoptions-container{
    display:grid;
    padding-bottom:5px;
    align-items:center;
    grid-template-columns: 125px 80px 160px 60px 225px
  }
  .melee-attack-panel, .ranged-attack-panel{
    padding:10px;
  }
  .melee-attack-panel{
    border-bottom:5px solid #889987;
    max-width:745px;
  }
  .mountparry-container{
    display:grid;
    grid-template-columns: 0px 75px 0px 75px
  }
  .mountdamage-container{
    display:grid;
    grid-template-columns: 0px 75px 0px 75px 0px 75px
  }
  .ctoggle-left,.ctoggle-middle, .ctoggle-right{
    width: 75px;
    height: 14px;
    margin-right: -75px;
    margin-bottom: 2px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
  }
  .ctoggle-left + span::before, .ctoggle-middle + span::before, .ctoggle-right + span::before{
    content:attr(title);
    border: solid 2px #889987;
    text-align: center;
    display: inline-block;
    
    background: #889987;

    width: 75px;
    height: 14px;
    font-size: 12px;
  }
  .ctoggle-left:checked + span::before, .ctoggle-middle:checked +span::before, 
  .ctoggle-right:checked + span::before{
    background: #9cb09b;
    border-bottom-color: black;
  }
  .meleetemp-container{
    display:grid;
    align-items:center;
    padding-bottom:5px;
    grid-template-columns: 160px 50px 50px 50px 50px 60px 40px
  }
  .mattack-grid-container{
    display:grid;
    align-items:center;
    grid-template-columns: 160px 80px 80px 80px 62px 75px
  }
  button[type=roll].meleedice::before {
    content: ''; 
  }
  button[type=roll].rangeddice::before {
    content: ''; 
  }
  .mattack-label, .rattack-label{
    width: 160px;
  }
  .meleedice, .rangeddice{
    background:#6b8a76;
    color:#ebebeb;
  }
  .damage-dice{
    width: 60px;
  }
  div.mbonus-hide {
    display: none;
  }
  input.mbonus-toggle[value='1']~div.mbonus-hide {
    display: block;
  }
  .mbonus-container{
    display:grid;
    grid-template-columns: 213px 213px 301px
  }
  .mattack-text, .rattack-text{
    width: 38px;
  }
  .mattack-notes{
    height:18px;
    width:300px;
    margin:0px;
    overflow:auto;
    resize:vertical;
  }
  .rattack-notes{
    height:18px;
    width:512px;
    margin:0px;
    overflow:auto;
    resize:vertical;
  }
  .ranged-attack-panel{
    max-width:745px;
    border-bottom:5px solid #889987;
  }
  .rangedtemp-container{
    display:grid;
    align-items:center;
    padding-bottom:5px;
    grid-template-columns: 160px 50px 50px 60px 40px
  }
  .rattack-grid-container{
    display:grid;
    align-items:center;
    grid-template-columns: 160px 80px 80px 62px 40px 40px 40px 75px
  }
  div.rbonus-hide {
    display: none;
  }
  input.rbonus-toggle[value='1']~div.rbonus-hide {
    display: block;
  }
  .rbonus-container{
    display:grid;
    grid-template-columns: 213px 563px
  }
  .physical-grid-container{
    display:grid;
    align-items:center;
    padding-left:10px;
    grid-template-columns: 110px 110px 110px 110px 110px
  }
  .physical-field{
    width:100px;
  }
  .origin-grid-container{
    display:grid;
    align-items:center;
    padding:10px;
    grid-template-columns: 110px 220px 220px
  }
  .mental-grid-container{
    display:grid;
    align-items:center;
    padding:10px;
    grid-template-columns: 550px
  }
  .mental-field{
    max-height:60px;
  }
  .inventory-container{
    padding-left: 5px;
  }
  .encumbrance-panel{
    display:grid;
    align-items:center;
    padding-bottom:10px;
    grid-template-columns: 85px 20px
  }
  .weight-box{
    width:83px;
  }
  .weightsub-box{
    width:63px;
  }
  .weapon-grid-container{
    display:grid;
    grid-template-columns: 213px 62px 62px 62px 47px 30px auto
  }
  .weapon-textarea{
    grid-column: 1 / 7
  }
  .weapon-textarea{
    max-height: 60px;
  }
  .weapon-inventory-panel, .armor-inventory-panel, .gear-inventory-panel, 
  .consumable-inventory-panel, .wealth-inventory-panel{
    max-width:740px;
    padding-bottom:10px;
  }
  .armor-grid-container{
    display:grid;
    grid-template-columns: 213px 47px 47px 62px 47px 30px auto
  }
  .armor-textarea{
    grid-column: 1 / 7
  }
  .armor-textarea{
    max-height: 60px;
  }
  .inventory-grid-container{
    display:grid;
    align-items:center;
    grid-template-columns: 213px 213px 213px 62px 30px auto
  }
  .inventory-textarea{
    grid-column: 1 / 6
  }
  .inventory-textarea{
    max-height: 60px;
  }
  .counter{
    width:28px;
  }
  .occ-skill-panel, .elective-skill-panel, 
  .secondary-skill-panel, .mystic-skill-panel{
    max-width:710px;
  }
  .skill-container{
    padding-left: 5px;
  }
  .universalrow-grid-container{
    display:grid;
    align-items:center;
    grid-template-columns: 30px 150px 50px 150px 50px 150px
  }
  .skill-grid-container{
    display:grid;
    align-items:center;
    grid-template-columns: 30px 213px 50px 15px 50px 50px 50px 50px;
  }
  div.skillextras-hide {
    display: none;
  }
  input.skillextras-toggle[value='1']~div.skillextras-hide {
    display: block;
  }
  .skillextras-container{
    display:grid;
    padding-bottom:5px;
    grid-template-columns: 700px
  }
  .skill-notes{
    height:36px;
    width:700px;
    margin:0px;
    overflow:auto;
    resize:vertical;
  }
  button[type=roll].skillroll::before{
    content: '';
  }
  .skillroll{
    color:#ebebeb;
    background: #6b8a76;
  }
  .dicefontd20{
    font-family:'dicefontd20';
  }
  .combat-container{
    padding-left: 5px;
  }
  .melee-proficiency-panel{
    padding-bottom:5px;
    border-bottom:5px solid #889987;
    max-width:460px;
  }
  .melee-grid-container{
    display:grid;
    grid-template-columns: 213px 50px 50px 50px 50px 50px
  }
  .ranged-proficiency-panel{
    padding-top:5px;
    padding-bottom:5px;
    max-width:460px;
  }
  .ranged-grid-container{
    display:grid;
    grid-template-columns: 213px 50px 50px 50px 50px
  }
  .combat-skill-panel{
    padding:5px;
    border:5px solid #889987;
    border-radius:10px;
    max-width:525px;
  }
  .combat-grid-container{
    display:grid;
    grid-template-columns: 250px auto
  }
  .combat-textarea{
    grid-column: 1 / 2
  }
  .combat-textarea{
    max-height: 60px;
  }
  .bonus-grid-container{
    display:grid;
    align-items:center;
    grid-template-columns: 150px 50px 130px 150px 50px
  }
  .bonus-field{
    width: 45px;
  }
  .saving-throw-panel{
    padding-top:5px;
  }
  .saves-grid-container{
    display:grid;
    align-items:center;
    grid-template-columns: 150px 50px 30px 70px 150px 50px 30px
  }
  button[type=roll].savedice::before {
    content: ''; 
  }
  .savedice{
    color: #ebebeb;
    background: #6b8a76;
  }
  .save-notes-container{
    display:grid;
    grid-template-columns: 500px 30px
  }
  .save-misc{
    max-width:500px;
    max-height:60px;
  }
  .underline{
    text-decoration: underline;
  }

  //  ----------Spell Tab------------
  .spells {
    padding-left: 5px;
    padding-right: 10px;
  }
  .spell-panel{
    display: grid;
    align-items: center;
    padding-bottom: 5px;
    grid-template-columns: 80px 170px 80px 170px 80px 170px 
  }
  button[type=roll].rollspell::before {
    content: '';
  }
  .rollspell{
    color:#ebebeb;
    background: #6b8a76;
  }
  .spell-text{
    min-width: 735px;
    max-height: 60px;
  }
  .spell-label{
    width: 165px;
  }
  .spell-attack{
    width: 75px;
  }

  //  ----------Psionics Tab------------
  .psionics {
    padding-left: 5px;
    padding-right: 10px;
  }
  .psionic-panel{
    display: grid;
    align-items: center;
    padding-bottom: 5px;
    grid-template-columns: 80px 215px 80px 80px 80px 215px 
  }
  button[type=roll].rollpsion::before {
    content: '';
  }
  .rollpsion{
    color:#ebebeb;
    background: #6b8a76;
  }
  .psionic-text{
    min-width: 735px;
    max-height: 60px;
  }

  //  ------- Healer Tab ---------
  .healer {
    padding-left: 5px;
    padding-right: 10px;
  }
  .healer-panel{
    display: grid;
    align-items: center;
    padding-bottom: 5px;
    grid-template-columns: 80px 215px 80px 80px 80px 215px 
  }
  button[type=roll].rollhealer::before {
    content: '';
  } 
  .rollhealer{
    color:#ebebeb;
    background: #6b8a76;
  }
  .healer-text{
    min-width: 735px;
    max-height: 60px;
  }

  //  ---------------Wards Tab------------------
  .wards {
    padding-left: 5px;
    padding-right: 10px;
  }
  .ward-panel{
    display: grid;
    align-items: center;
    padding-bottom: 5px;
    grid-template-columns: 80px 170px 80px 170px 80px 170px 
  }

  //  ---------------Circles Tab------------------
  .circles {
    padding-left: 5px;
    padding-right: 10px;
  }
  .circle-panel{
    display: grid;
    align-items: center;
    padding-bottom: 5px;
    grid-template-columns: 80px 170px 80px 170px 80px 170px 
  }

  //  ------ Structures Tab -----
  .structures{
    padding-left: 5px;
  }
  .ship-name{
    display:grid;
    align-items:center;
    padding-bottom:5px;
    grid-template-columns: 215px 215px 65px 65px;
  }
  .ship-details{
    width:550px;
    max-height:75px;
  }
  .shipattack-container{
    width:770px;
  }
  .ship-attacks{
    display:grid;
    align-items:center;
    grid-template-columns:110px 110px 110px 110px 330px
  }
  .ship-text{
    max-width: 100px;
  }
  button[type=roll].shiproll::before {
    content: '';
  } 
  .shiproll{
    color:#ebebeb;
    background: #6b8a76;
    width:90px;
  }
  .ship-textarea{
    height:18px;
    width:300px;
    margin:0px;
    overflow:auto;
    resize:vertical;
  }
  .ship-parts{
    display: grid;
    align-items: center;
    padding-top:10px;
    padding-bottom: 10px;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px
  }
  .structure-name{
    display:grid;
    align-items:center;
    padding-bottom:5px;
    grid-template-columns: 215px 215px 65px 65px;
  }
  .structure-details{
    width:550px;
    max-height:75px;
  }
  .structureattack-container{
    width:770px;
  }
  .structure-attacks{
    display:grid;
    align-items:center;
    grid-template-columns:110px 110px 110px 110px 330px
  }
  .structure-text{
    max-width: 100px;
  }
  button[type=roll].structureroll::before {
    content: '';
  } 
  .structureroll{
    color:#ebebeb;
    background: #6b8a76;
    width:90px;
  }
  .structure-textarea{
    height:18px;
    width:300px;
    margin:0px;
    overflow:auto;
    resize:vertical;
  }
  .structure-parts{
    display: grid;
    align-items: center;
    padding-top:10px;
    padding-bottom: 5px;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px
  }

  //  ------ Journal Tab ------
  .journal-container{
    padding-left: 5px;
  }
  .note-one-panel, .note-two-panel, .note-three-panel{
    max-width:625px;
  }
  .notes-grid-container{
    display: grid;
    align-items:center;
    grid-template-columns: 90px 213px auto
  }
  .second-notes-grid-container{
    display: grid;
    align-items:center;
    grid-template-columns: 90px 213px auto
  }
  .third-notes-grid-container{
    display: grid;
    align-items:center;
    grid-template-columns: 90px 213px auto
  }
  button[type=roll].noteroll::before{
    content: '';
  }
  .noteroll{
    color:#ebebeb;
    background: #6b8a76;
  }
  .notes-textarea{
    grid-column: 1 / 3;
  }
  .notes-textarea{
    min-width:600px;
  }

  //  ------------Configuration Tab--------------
  .config {
    padding-left: 5px;
  }
  .configarea {
    display: grid;
    padding-top: 5px;
    grid-template-columns: 200px 500px
  }
  .tab-options{
    display:grid;
    align-items:center;
    line-height: 2;
    grid-template-columns: 20px 150px;
  }
  .colortoggle{
    display:grid;
    align-items:center;
    grid-template-columns: 0px 75px 0px 75px 0px 75px 0px 75px 0px 75px 0px 75px 0px 75px
  }
  .toggle-ice, .toggle-orange, .toggle-pine, 
  .toggle-teal, .toggle-wine, .toggle-yellow,
  .toggle-violet{
    width: 75px;
    height: 18px;
    margin-right: -75px;
    margin-bottom: 2px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
  }
  .toggle-ice + span::before, .toggle-orange + span::before, 
  .toggle-pine + span::before, .toggle-teal + span::before, 
  .toggle-wine + span::before, .toggle-yellow + span::before, 
  .toggle-violet + span::before{
    content:attr(title);
    border: solid 2px #82a3b5;
    text-align: center;
    display: inline-block;

    background: #82a3b5;

    width: 75px;
    height: 18px;
    font-size: 16px;
  }
  .toggle-ice:checked + span::before{
    background-color: rgba(204,244,255,1);
    color:black;
  }
  .toggle-orange:checked + span::before{
    background-color: rgba(212,108,24,1);
    color:white;
  }
  .toggle-pine:checked + span::before{
    background-color: rgba(30,79,31,1);
    color:white;
  }
  .toggle-teal:checked + span::before{
    background-color: rgba(79,153,148,1);
    color:white;
  }
  .toggle-violet:checked + span::before{
    background-color: rgba(101,0,66,1);
    color:white;
  }
  .toggle-wine:checked + span::before{
    background-color: rgba(163,80,92,1);
    color:white;
  }
  .toggle-yellow:checked + span::before{
    background-color: rgba(230,195,90,1);
    color:black;
  }
}